<header>
  <div class="sub-header">
    <a href="/">
      <img src="/images/logo-{{ .Site.Title }}.svg" alt="{{ .Site.Title }}">
    </a>
    <!-- nav -->
    {{ with .Site.Menus.main }}
    <nav>
      <ul class="menu">
        {{ range . }}
        <li><a href="{{ .URL }}" class="btn no-bg">{{ .Name }}</a></li>
        {{ end }}
        <!-- github  -->
        <li><a href="{{ $.Site.Params.github }}" class="btn"><img src="../images/icon-github.svg"><span>Github</span></a></li>
      </ul>  
    </nav>
    {{ end }}
  </div>
</header>
