.dashboard
  display: flex
  flex-direction: row
  overflow-y: hidden

  &-panel
    &.sidebar
      background-color: $white-bis
      flex: 0 0 25rem
      border-right: 1.25px solid $grey-lighter
    &.main
      flex: 1
      overflow-y: auto
