@import  "../../themes/longhorn-theme/assets/sass/main";

:root {
    --primary-color   : #5F224A;
    --secondary-color : #EA3A3A;
    --dark            : #33313b;
    --light           : #F3F3F3;
  }
