{{ $fonts    := site.Params.fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{ $sansSerifFont := (index (where site.Params.fonts ".type" "sans_serif") 0).name }}
{{ $monospaceFont := (index (where site.Params.fonts ".type" "monospace") 0).name }}

@charset "utf-8"
@import url({{ $fontsUrl }})

// Site-specific variables
$longhorn-maroon: #5F224A
$twitter-blue: rgb(29, 161, 242)

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overrides
$primary: $longhorn-maroon
$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: "{{ $monospaceFont }}", monospace

@import "bulma/sass/utilities/derived-variables"

// Expanded Bulma color map
$colors: mergeColorMaps(("twitter-blue": ($twitter-blue, $white), "orange": ($orange, $white)), $colors)

@import "bulma/bulma"

.hero-logo
  +desktop
    width: 65%
  +mobile
    width: 25%
