{{ $fonts    := site.Params.fonts }}
{{ $fontSlice := (slice) }}
{{ range $fonts }}
{{ $fontSlice = $fontSlice | append (printf "%s:%s" (replace .name " " "+") (delimit .sizes ",")) }}
{{ end }}
{{ $fontsUrl := printf "https://fonts.googleapis.com/css?family=%s" (delimit $fontSlice "|") }}
{{ $sansSerifFont := (index (where site.Params.fonts ".type" "sans_serif") 0).name }}
{{ $monospaceFont := (index (where site.Params.fonts ".type" "monospace") 0).name }}

@charset "utf-8"
@import url({{ $fontsUrl }})

// Site-specific variables
$longhorn-maroon: #5F224A
$longhorn-red: #EA3A3A
$twitter-blue: rgb(29, 161, 242)

@import "bulma/sass/utilities/initial-variables"
@import "bulma/sass/utilities/functions"

// Bulma variable overrides
$primary: $longhorn-maroon
$secondary: $longhorn-red
$link: $primary
$family-sans-serif: "{{ $sansSerifFont }}", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace: "{{ $monospaceFont }}", monospace
$box-padding: 1.5rem
$navbar-height: 5rem
$navbar-item-img-max-height: $navbar-height * 0.5
$code: $secondary
$code-background: $white

@import "bulma/sass/utilities/derived-variables"

// Expanded Bulma color map
$colors: mergeColorMaps(("twitter-blue": ($twitter-blue, $white), "orange": ($orange, $white), "secondary": ($secondary, $white)), $colors)

@import "bulma/bulma"

=logo($d, $m)
  +desktop
    width: $d
  +mobile
    width: $m

.hero-logo
  +logo(65%, 25%)

.footer-logo
  +logo(50%, 40%)

.push-down
  +desktop
    margin-bottom: -12rem
  +touch
    margin-bottom: -5rem

.rancher-logo, .cncf-logo
  +logo(70%, 80%)

=panel-width($w)
  flex: 0 0 $w

.dashboard
  display: flex
  flex-direction: column
  height: 100vh
  overflow-y: hidden

  &-main
    display: flex
    flex-direction: row
    height: 100%
    padding-top: $navbar-height

    &-panel
      &.left
        +panel-width(25rem)
        background-color: $white-bis
      &.center
        flex: 1

        .content
          +desktop
            width: 80%

      &.is-scrollable
        overflow-y: auto

aside.nav
  padding: 1.5rem

  ul
    li
      font-weight: 600

      & + li
        margin-top: .25rem
