{{ $firstYear   := "2019" | int }}
{{ $currentYear := now.Year | int }}
{{ $yearString  := cond (eq $firstYear $currentYear) $firstYear (printf "%d-%d" $firstYear $currentYear) }}
{{ $project_k3s := index site.Params.project_icons 0 }}
{{ $project_harvester := index site.Params.project_icons 1 }}
<section class="hero">
  <div class="hero-body">
    <div class="container">
      <hr/>
      <p class="has-text-weight-light">
        &copy; {{ $yearString }} Longhorn Authors | Documentation Distributed under CC-BY-4.0
      </p>
      <br/>
      <p class="has-text-weight-light">
        &copy; {{ $currentYear }} The Linux Foundation. All rights reserved. The Linux Foundation has registered trademarks and uses trademarks. For a list of trademarks of The Linux Foundation,
        please see our <a href="https://www.linuxfoundation.org/trademark-usage/" target="_blank">Trademark Usage</a> page.
      </p>
      <br/>
      <span class="icon-text has-text-info is-pulled-right mx-3">
        <a href="{{$project_k3s.url}}" target="_blank">
          <span class="icon">
            <img src="{{$project_k3s.src}}" title="{{$project_k3s.text}}"/>
          </span>
        </a>
      </span>

      <span class="icon-text has-text-success is-pulled-right mx-3">
        <a href="{{$project_harvester.url}}" target="_blank">
          <span class="icon">
            <img src="{{$project_harvester.src}}" title="{{$project_harvester.text}}"/>
          </span>
        </a>
      </span>

    </div>
  </div>
</section>
