{{ $editUrl := printf "https://github.com/longhorn/website/edit/master/content/%s" .path }}
<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container">
      <p class="title is-size-2 is-size-3-mobile has-text-weight-light{{ if .description }} is-spaced{{ end }}">
        {{ .title }}
      </p>

      {{ with .description }}
      <p class="subtitle is-size-3 is-size-4-mobile has-text-weight-light">
        {{ . | markdownify }}
      </p>
      {{ end }}

      <br />

      <div class="buttons">
        <a class="button is-black is-inverted" href="{{ $editUrl }}" target="_blank">
          <span class="icon">
            <ion-icon name="logo-github"></ion-icon>
          </span>
          <span>
            Edit
          </span>
        </a>
      </div>
    </div>
  </div>
</section>
