{{ $home   := site.BaseURL }}
{{ $title  := site.Title }}
{{ $logo   := printf "img/logos/%s" site.Params.logos.navbar | relURL }}
{{ $menu   := site.Menus.main }}
{{ $isDoc  := eq .Section "docs" }}
<nav class="navbar{{ if not $isDoc }} is-fixed-top{{ end }}">
  {{ if not $isDoc }}
  <div class="container">
  {{ end }}
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ $home }}">
        <img src="{{ $logo }}" alt="{{ $title }} navbar logo">
      </a>

      <a role="button" class="navbar-burger" data-target="menu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu" id="menu">
      <div class="navbar-end">
        {{ range $menu }}
        {{ $isExternal := hasPrefix .URL "http" }}
        {{ $name       := .Name | upper }}
        <a class="navbar-item has-text-weight-bold" href="{{ .URL }}"{{ if $isExternal }} target="_blank"{{ end }}>
          {{ $name }}
        </a>
        {{ end }}

        <div class="navbar-item">
          {{ partial "social-buttons.html" (dict "lean" (not $isDoc)) }}
        </div>
      </div>
    </div>
  {{ if not $isDoc }}
  </div>
  {{ end }}
</nav>
