{{ $why      := site.Params.why }}
{{ $features := site.Params.features }}


<section class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column">
        <p class="title is-size-2 is-size-3-mobile">
          Features
        </p>

        {{ range $features }}

        <p class="title is-size-4 is-size-5-mobile">
          {{ .title }}
        </p>

        <div class="content">
          {{ .text | markdownify }}
        </div>


        {{ end }}
      </div>

      <div class="column">
        <p class="title is-size-2 is-size-3-mobile">
          How Longhorn works
        </p>

        <figure class="image">
          <img src="/img/diagrams/architecture/how-longhorn-works.svg">
        </figure>
      </div>
    </div>
  </div>
</section>
