<section class="section">
  <div class="container has-text-centered box push-down">
    <div class="columns is-vcentered is-variable is-20">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Sign up for the free hands-on course <em>Longhorn Basics</em>
        </p>

        <a class="button is-secondary is-size-5 is-size-6-mobile" href="https://www.rancher.academy/courses/longhorn-basics">
          <span class="icon">
            <ion-icon name="play"></ion-icon>
          </span>
          <span>
            View Curriculum
          </span>
        </a>
      </div>
    </div>

    <div class="columns is-vcentered is-variable is-6">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Originally developed by
        </p>

        <a href="https://rancher.com" target="blank">
          <img class="rancher-logo" src="/img/rancher-logo-color.svg" alt="Rancher logo">
        </a>
      </div>

      <hr />

      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Longhorn is a CNCF Incubating Project
        </p>

        <a href="https://www.cncf.io" target="blank">
          <img class="cncf-logo" src="/img/cncf-logo-color.svg" alt="Cloud Native Computing Foundation logo">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-background-primary">
</section>



