<section class="section">
  <div class="container has-text-centered box push-down">
    <div class="columns is-vcentered is-variable is-6">
      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Originally developed by
        </p>

        <a href="https://rancher.com" target="blank">
          <img class="rancher-logo" src="/img/rancher-logo-color.svg" alt="Rancher logo">
        </a>
      </div>

      <hr />

      <div class="column">
        <p class="title is-size-4 is-size-5-mobile">
          Longhorn is a CNCF sandbox project
        </p>

        <a href="https://www.cncf.io" target="blank">
          <img class="cncf-logo" src="/img/cncf-logo-color.svg" alt="Cloud Native Computing Foundation logo">
        </a>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium has-background-primary">
</section>
